
*{
    margin: 0;
    box-sizing: border-box;
}

/****************************/
/* -- CUSTOM PROPERTIES -- */
/***************************/

:root{

    /* lettertype dikte */
    --bold: 700;
    --regular: 400;
    --light: 300;

    /* kleur */
    --text-and-background: white;
    --prime-color-red: rgb(230, 81, 81);
    --prime-color-blue: rgb(82, 150, 133);
    --prime-color-beige: rgb(201, 190, 155);
    --dark-beige: rgb(122, 117, 101);
    --dark-blue: rgb(54, 88, 79);
    --dark-red: rgb(131, 64, 64);
    --gold: hsl(51, 44%, 51%);
    --background: rgb(235, 231, 226);
}

/************************************/
/* --------- FONTS, TEXT --------- */
/**********************************/

body{
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    margin: 0 auto;
}

p, div{
    font-weight: var(--light);
}

div{
    font-style: italic;
    font-weight: var(--bold);
}

a{
    font-weight: var(--bold);
}

h2 {
    text-transform: capitalize;
}


@media screen {
/* als tip via: https://www.smashingmagazine.com/2011/11/how-to-set-up-a-print-style-sheet/#top, zo beter de print versie stylen */
/* door de screen styling in @media screen te doen apart van de print */

    /*******************************/
    /* --------- LAYOUT --------- */
    /*****************************/

    /* -- GRID -- */

    body{
        display: grid;
        /* responsive zonder media queries: */
        /* source: https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/ */
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); /* min - max */
        row-gap: 1em;
        background-color: var(--background);
    }
    
    body > header{
         /* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
         /* grid-row-end: 7 want zodra het element kleiner dan 370px verandert de grid en ontstaan er 7 rijen */
        grid-area: 1 / 2 / 7 / 2;
        height: 100vh;
        background-color: var(--prime-color-red);
        
        position: sticky;
        top: 0;
        z-index: 1;
    }

    /*********************************/
    /* ---------- HEADER -----------*/ 
    /*******************************/

    /* -- Russ & Daughters -- */

    body > header {
        align-items: center;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        grid-template-columns: 0fr 1fr 0fr;
    }

    body > header h1, body > header p{
        grid-column-start: 2;
    }

    h1 {
        color: white;
        font-weight: var(--light);
        font-size: 52px;
        text-transform: uppercase;
        margin: .5em 1em;
        
        /* source: https://developer.mozilla.org/en-US/docs/Web/CSS/text-orientation*/
        writing-mode: vertical-lr; 
        text-orientation: upright;
    }

    body > header p{
        text-align: center;
        background-color:var(--prime-color-blue);
        color: white;
        padding: 1em;
        margin: 0 auto;
        width: 7rem;
        height: 4.5rem;
        position: relative;
    }

    header  h1 span:not(:nth-child(4)){
        color: var(--gold);
        font-weight: var(--bold);
    }


    /**********************/
    /* -- SVG FILTER -- */

    header svg{
        /* anders is er een leeg vlak op de browser */
        width: 0;
        height: 0;
    }

    body > header h1 span:not(:nth-child(4)){
        color: var(--gold);
        filter: url(#outline-text); /* svg filter in index toegepast */
    }

    /*******************************/
    /* ::before and ::after banner*/

    body > header p::before{
        content: "";
        position: absolute;
        width: 4rem;
        height: 4rem;
        right: 80%;
        top: 30%;
        z-index: -1;
        background-image: 
        linear-gradient(to right top, transparent 50%, rgb(54, 88, 79) 50%),
        linear-gradient(to right bottom, transparent 50%, rgb(54, 88, 79) 50%);
    }

    body > header p::after{
        content: "";
        position: absolute;
        width: 4rem;
        height: 4rem;
        left: 80%;
        top: 30%;
        z-index: -1;
        background-image: 
        linear-gradient(to left top, transparent 50%, rgb(54, 88, 79) 50%),
        linear-gradient(to left bottom, transparent 50%, rgb(54, 88, 79) 50%);
    }

    /******************/
    /* -- NAV BAR -- */

    header ul li a {
        color: white;
        font-size: 18px;
        padding: 4em 2em;
        transition-property: background-color;
        transition-duration: .5s;
    }

    header ul li {
        list-style: none;
    }

    header ul{
        writing-mode: vertical-lr; /* tekst is nu verticaal */
        display: flex; /* flex zodat list items naast elkaar staan */
        justify-content:space-around; /* neemt hele ruimte in van container */
        background-color: var(--dark-red);
        height: 100vh;
        padding: 3em 1em;
    }

    header ul:first-of-type {
        grid-area: 1 / 1 / 3 / 1; /* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
    }

    header ul:last-child {
        grid-area: 1 / 3 / 3 / 3; /* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
    }

    header ul:first-of-type li {
        transform: rotate(180deg); /* rotate de list items, probeerde eerst bij ul maar volgorde was verkeerd*/
    }


    /***************************/
    /* ------- STATES ------- */

    /* -- hover -- */

    header ul li a:hover {
        background-color: var(--prime-color-red);
        cursor: pointer;
        
    }

    /* -- focus -- */
    /* wanneer je door de links tabt met toetsenbord */

    header ul li a:focus {
        background-color: var(--prime-color-red);
        outline: none;
    }

    /* -- :target -- */
    /* het getarget element wanneer je op een link druk met #gang-naam */

    section:target {
        background-color: white;
    } 

    section:target article {
        background-color: var(--background);
    }

    /******************************************************/
    /* ---------- MAIN SECTIONS (the courses) -----------*/ 
    /****************************************************/

    /* -- BASICS -- */
    
    article {
        width: 12em;
        padding: 1em;
        background-color: white;
        transition-property: transform;
        transition-duration: 0.5s;
    }

    section {
        margin: 2em;
        padding: 1em;
        position: relative;
        border: 1px solid white;
    }

    blockquote {
     margin: 3em auto;
    }

    section header, section > h2 {
        width: 10rem;
        padding: 1em;
        margin: 0 auto;
        text-align: center;
    }

    /* -- de gerechten - article positions -- */

    section article {
        text-align: right;
        margin: 0em 0em 0em auto;
    }

    section article:nth-child(odd) {
        text-align: left;
        margin: 1em;
    }

    section article div:last-of-type {
        width: 13px;
        height: 13px;
        background-color: lightgrey;
    }


    /*********************************/
    /* --------- de BLOBS --------- */

    /* -- BLOB - headers in section -- */

    section:nth-child(odd) header, section:nth-child(odd) > h2 {
        background-color: var( --prime-color-blue);
        color: white;
        border-radius: 45% 92% 40% 62% / 50% 75% 70% 90%;
        animation-name: blob-move-1;
        animation-duration: 13s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        position: relative;
    }

    section:nth-child(even) header, section:nth-child(even) > h2 {
        color: white;
        background-color: var(--prime-color-beige);
        --border-radius-1: 50% 50% 80% 20% / 40% 60% 40% 60%;
        border-radius: var(--border-radius-1);
        position: relative;
        animation-name: blob-move-2;
        animation-duration: 13s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }

    /* -- BLOB - border gold -- */

    section header::before, section > h2::before {
        content: "";
        position: absolute;
        width: 11rem;
        height: 6rem;
        right: 0%;
        top: -5%;
        border: 1px solid var( --gold);
        border-radius: 69% 22% 51% 38% / 56% 46% 40% 29% ;
    }

    /* -- BLOB - gerechten, articles -- */

    section article:nth-child(3n + 2) {
        border-radius: 45% 92% 40% 62% / 50% 75% 70% 90%;
    }

    section article:nth-child(3n + 3) {
        border-radius: 80% 60% 40% 90% / 50% 40% 70% 90%;
    }

    section article:nth-child(3n + 4) {
        border-radius: 50% 50% 80% 20% / 40% 60% 40% 60%;
    }

    /* -- Blobs - moving - hover -- */

    section:hover article {
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        /* blend mode: wanneer articles over elkaar heen gaan is de blending het verschil, kleuren worden omgedraait, blend ook met achtergrond */
        mix-blend-mode: difference; 
    }

    section:hover article:nth-child(3n + 2) {
        animation-name: blob-transform-1;
        animation-duration: 20s;
    }

    section:hover article:nth-child(3n + 1) {
        animation-name: blob-transform-2;
        animation-duration: 15s;
    }

    section:hover article:nth-child(3n) {
        animation-name: blob-transform-3;
        animation-duration: 20s;
    }

    /***************************************/
    /* --------- VORMPJES - SVG --------- */

    /* Noshesh - bord - SVG zelf gemaakt*/
    section:first-of-type svg{
        position: absolute;
        z-index: 2;
        transform: scale(0.7);
        top: 1em;
        left: 1em;
    }

   section:first-of-type rect, section:first-of-type ellipse {
        fill: var(--prime-color-blue);
    }

    section:first-of-type ellipse:nth-child(10) {
        fill: var(--dark-blue);
    }


    section:first-of-type circle {
        fill: rgb(199 199 199);
    }

    section:first-of-type circle:nth-child(2) {
        stroke: rgb(238, 238, 238);
    }

    /* soup - via illustrator */

    section:nth-child(6) svg,  section:nth-child(7) svg {
        width: 6em;
        position: absolute;
        top: 3rem;
        left: 2rem;
    }

    /* kleuren */
    section:nth-child(6) path:first-of-type {
        fill: var(--dark-blue);
    }

    section:nth-child(6) path:nth-of-type(2) {
        fill: #ff772e;
    }

    section:nth-child(6) path:nth-of-type(3) {
        fill: var(--prime-color-blue)
    }

    section:nth-child(6) path:last-of-type, section:nth-child(6) path:nth-of-type(4) {
        fill: #39b54a;
    } 

    /* salad kleuren */

    section:nth-child(7) path:first-of-type {
        fill: var(--dark-beige);
    }

    section:nth-child(7) path:nth-child(2) {
        fill: #a5d685;
    }

    section:nth-child(7) circle, section:nth-child(6) circle {
        fill: var(--prime-color-red);
    }

    section:nth-child(7) rect {
        fill: var(--dark-beige);
    }

    section:nth-child(7) rect {
        fill: var(--dark-beige);
    }

    section:nth-child(7) path:nth-of-type(3) {
        fill: #6d9354;
    }

    section:nth-child(7) path:nth-of-type(4) {
        fill: var(--prime-color-beige);
    }

     /* Sweets - strawberry - via illustrator*/
    section:last-of-type svg {
        width: 4em;
        position: absolute;
        top: 1em;
        left: 3em;
        transform: rotate(-20deg);
    }
    
    /* kleuren */
    section:last-of-type path:first-of-type {
        fill: var(--prime-color-red);
    }

    section:last-of-type ellipse {
        fill: var(--dark-red);
    }

    section:last-of-type path:last-of-type {
        fill: green;
    }

     /* --------- VORMPJES - compleet CSS met 1 element --------- */

     /* sandwich */
     section:nth-child(3) header h2::before, section:nth-child(3) header h2::after  {
        content: "";
        position: absolute;
        top: 3.5rem;
        left: -5rem;
        width: 4em;
        height: 4em;
        /* background-color: var(--prime-color-blue); */
        background-image:  linear-gradient(to left bottom, var(--prime-color-beige) 35%, transparent 35% ), 
                        linear-gradient(to left bottom, var(--dark-beige) 40%, transparent 40% );
     }

     section:nth-child(3) header h2::after {
        transform: rotate(45deg);
        top: 2.5rem;
        left: -5rem;
     }

    /* vis */
    section:nth-child(4) header h2::before {
        content: "";
        position: absolute;
        top: 3.5rem;
        left: -2rem;
        width: 3em;
        height: 2em;
        border-radius: 50%;
        background-image: radial-gradient(12px at 72% 50%, var(--dark-blue) 50%, var(--prime-color-blue) 50% ); /* radial gradiant voor het oogje*/
    }

    section:nth-child(4) header h2::after {
        content: "";
        position: absolute;
        top: 3.5rem;
        left: -4rem;
        width: 3em;
        height: 2em;
        /* source: https://yuanchuan.dev/gradient-shapes/*/
        /* circle at 50% 0%: 0% is de positie vanaf het midden horizontaal en 50% is 50% van het midden verticaal, binnen de width en height van element */
        /* 40% 40% is een circle zonder merging en is daarbij ook de grote verander je het naar 30% 30% is de circle kleiner */
        background: radial-gradient(circle at 50% 0%, var(--prime-color-blue) 40%, transparent 40%);
        transform: rotate(-90deg);
    }

    /* een spiegel ei */
    section:nth-child(5) header h2::before {
        content: "";
        position: absolute;
        top: 2rem;
        left: -4rem;
        width: 3em;
        height: 3em;
        /* 30 px, is de grootte van het rondje en 40% 47% is de positie */
        background-image: radial-gradient(30px at 40% 47%, #f7f736fa 50%, white 50% );
        border-radius: 100% 37% 16% 100% / 47% 35% 100% 66%;
        /* de 2 randen om het eitje heen  - hulp via: https://css-tricks.com/almanac/properties/b/box-shadow/*/
        box-shadow: 0px 0px 0px 5px rgb(241 241 241), 0px 0px 0px 12px rgb(226 226 226);
    }

    section:nth-child(5) header:hover h2::before {
        animation-name: eggwhite;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        /* alternate: elke cycle steeds reverse dus ene keer van 0 naar 100 andere keer 100 naar 0*/
        animation-direction: alternate;
    }

    /* ei */
    section:nth-child(5) header h2::after{
        content: "";
        position: absolute;
        top: 3.5rem;
        left: -1rem;
        width: 2em;
        height: 2.5em;
        background-color: #ecd5b9;
        border-radius: 50%;
    }

    section:nth-child(5) header:hover h2::after {
        animation-name: jump;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0,.52,0,1.01);
        /* alternate: elke cycle steeds reverse dus ene keer van 0 naar 100 andere keer 100 naar 0*/
        animation-direction: alternate;
    }

    /*********************************/
    /* -------- ANIMATIONS -------- */
    /*******************************/

    /* -- blob header in sections -- */

    @keyframes blob-move-1 {
        0% {
        border-radius: 45% 92% 40% 62% / 50% 75% 70% 90%;
        }

        25% {
        border-radius: 48% 37% 48% 32% / 41% 32% 61% 45% ;
        }

        50% {
            background-color:  var(--dark-blue);
            border-radius: 80% 60% 40% 90% / 50% 40% 70% 90%;
        }

        75% {
            border-radius: 48% 37% 48% 32% / 41% 32% 61% 45% ;
        }

        100% {
            border-radius: 45% 92% 40% 62% / 50% 75% 70% 90%;
        }
    }

    @keyframes blob-move-2 {
        0% {
        border-radius: 50% 50% 80% 20% / 40% 60% 40% 60%;
        }

        25% {
        border-radius: 48% 37% 48% 32% / 41% 32% 61% 45% ;
        }

        50% {
            background-color:  var(--dark-beige);
            border-radius: 80% 60% 40% 90% / 50% 40% 70% 90%;
        }

        75% {
            border-radius: 48% 37% 48% 32% / 41% 32% 61% 45% ;
        }

        100% {
            border-radius: 50% 50% 80% 20% / 40% 60% 40% 60%;
        }
    }

    /* -- blob gerechten bewegen van plaats -- */

    /* -- custom properties --  */

    section article {
        --translate-small: 4rem;
        --translate-big: 8rem;
    }

    @keyframes blob-transform-1 {
        0% {
            transform: translateX(0rem);
        }

        25%{
            transform: translateX(var(--translate-small));
        }
    
        50% {
            transform: translateY(var(--translate-big));
        } 
        
        75% {
            transform: translateX(var(--translate-small));
        }

        100% {
            transform: translateX(0rem);
        }
    }

    @keyframes blob-transform-2 {
        0% {
            transform: translateY(0rem);
        }

        25%{
            transform: translateY(var(--translate-big));
        }

        50% {
            transform: translateX(var(--translate-small));
        } 
        
        75% {
            transform: translateY(var(--translate-big));
        }

        100% {
            transform: translateY(0rem);
        }
    }

    @keyframes blob-transform-3 {
        0% {
            transform: translateX(0rem);
        }

        25%{
            transform: translateY(calc(var(--translate-big) / 2 ));
        }

        50% {
            transform: translateX(calc(var(--translate-big) / 2 ));
        } 
        
        75% {
            transform: translateY(calc(var(--translate-big) / 2 ));
        }

        100% {
            transform: translateX(0rem);
        }
    }

    /* -- ei vormpjes animeren -- */
    @keyframes jump{
        0% {
            transform: translateY(0rem);
        }

        100% {
            transform: translateY(-2rem);
            height: 2.7em;
        }
    }

    @keyframes eggwhite{
        0% {
            box-shadow: 0px 0px 0px 5px rgb(241 241 241), 0px 0px 0px 12px rgb(226 226 226);
        }
        100%{
            box-shadow: 0px 0px 0px 7px rgb(241 241 241), 0px 0px 0px 15px rgb(226 226 226);
        }
    }
}

/****************************************/
/* -------- print-style sheet -------- */
/**************************************/

@media print {

    @page {
        margin: 0.5cm;
        size: landscape; /* standaard landscape printen */
    }

    /* elements not displayed in print */

    header ul {
        display: none;
    }

    svg{
        display: none;
    }

    /* - font - */

    h1{
        font-size: 32pt;
    }

    p {
        font-size: 12pt;
    }

    section h2 {
        color: var(--gold);
        text-transform: uppercase;
    }

    /* Title Russ & Daughters */

    body > header h1 span:not(:nth-child(4)){
        color: var(--gold);
        filter: url(#outline-text); /* filter in html toegepast */
    }

    /* layout */

    body{
        /* background graphics overschreven: bron: https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-print-color-adjust */
        -webkit-print-color-adjust: exact; /* kleur van scherm naar print is  iets anders*/
        font-family: 'Raleway', sans-serif;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        line-height: 1.3;
        grid-column-gap: 0.5cm;
    }

    body > header {
        text-align: center;
        position: fixed; /* herhaald de header nu op elke pagina in print mode */
        top: 0;
        left: 95mm;
    }

    section {
        border: solid black 1px;
        padding: 0.2cm;
        margin-top: 2.5cm;
    }
}
