
*{
    margin: 0;
    box-sizing: border-box;
}

/****************************/
/* -- CUSTOM PROPERTIES -- */
/***************************/

:root{

    /* lettertype dikte */
    --bold: 700;
    --regular: 400;
    --light: 300;

    /* kleur */
    --text-and-background: white;
    --prime-color-red: rgb(230, 81, 81);
    --prime-color-blue: rgb(82, 150, 133);
    --prime-color-beige: rgb(201, 190, 155);
    --dark-beige: rgb(122, 117, 101);
    --dark-blue: rgb(54, 88, 79);
    --gold: #b9a94b;
    --background: rgb(243, 238, 232);
}

/************************************/
/* --------- FONTS, TEXT --------- */
/**********************************/

body{
    font-family: 'Raleway', sans-serif;
}

p, div{
    font-weight: var(--light);
}

div{
    font-style: italic;
    font-weight: var(--bold);
}

a{
    font-weight: var(--bold);
}


@media screen {
/* als tip via: https://www.smashingmagazine.com/2011/11/how-to-set-up-a-print-style-sheet/#top, zo beter de print versie stylen */
/* door de screen styling in @media screen te doen apart van de print */

    /*******************************/
    /* --------- LAYOUT --------- */
    /*****************************/

    /* -- GRID -- */

    body{
        display: grid;
        grid-template-columns:  1fr 0fr 1fr;
        row-gap: 1em;
        background-color: var(--background);
    }
    
    body > header{
        grid-area: 1 / 2 / 4 / 2; /* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
        height: 100vh;
        background-color: var(--prime-color-red);
        
        position: sticky;
        top: 0;
        z-index: 1;
    }

    /*********************************/
    /* ---------- HEADER -----------*/ 
    /*******************************/

    /* -- Russ & Daughters -- */

    body > header {
        align-items: center;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        grid-template-columns: 0fr 1fr 0fr;
    }

    body > header h1, body > header p{
        grid-column-start: 2;
    }

    h1 {
        color: white;
        font-weight: var(--light);
        font-size: 52px;
        text-transform: uppercase;
        margin: .5em 1em;
        
        /* source: https://developer.mozilla.org/en-US/docs/Web/CSS/text-orientation*/
        writing-mode: vertical-lr; 
        text-orientation: upright;
    }

    body > header p{
        text-align: center;
        background-color:var(--prime-color-blue);
        color: white;
        padding: 1em;
        margin: 0 auto;
        width: 7rem;
        height: 4.5rem;
        position: relative;
    }

    header  h1 span:not(:nth-child(4)){
        /* 4th child because of the filter svg */
        color: var(--gold);
        font-weight: var(--bold);
    }

    /******************/
    /* -- NAV BAR -- */

    header ul li a {
        color: white;
        font-size: 18px;
        padding: 4em 2em;
        transition-property: background-color;
        transition-duration: .5s;
    }

    header ul li {
        list-style: none;
    }

    header ul{
        writing-mode: vertical-lr; /* tekst is nu verticaal */
        display: flex; /* flex zodat list items naast elkaar staan */
        justify-content:space-around; /* neemt hele ruimte in */
        background-color:rgb(131, 64, 64);;
        height: 100vh;
        padding: 3em 1em;
    }

    header ul:first-of-type {
        grid-area: 1 / 1 / 3 / 1; /* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
    }

    header ul:last-child {
        grid-area: 1 / 3 / 3 / 3; /* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
    }

    header ul:first-of-type li {
        transform: rotate(180deg); /* rotate de list items, probeerde eerst bij ul maar volgorde was verkeerd*/
    }


    /***************************/
    /* ------- STATES ------- */

    /* hover */

    header ul li a:hover {
        background-color: var(--prime-color-red);
        cursor: pointer;
        
    }

    /* focus */

    header ul li a:focus {
        background-color: var(--prime-color-red);
        outline: none;
    }

    /* :target */

    /* #noshes:target article:nth-child(3n){

    }  */

    /**********************/
    /* -- SVG FILTERS -- */

    svg:not(section:last-of-type > svg){
        /* anders is er een leeg vlak op de browser */
        width: 0;
        height: 0;
    }

    body > header h1 span:not(:nth-child(4)){
        color: var(--gold);
        filter: url(#outline-text); /* filter in html toegepast */
    }

    /*******************************/
    /* ::before and ::after banner*/

    body > header p::before{
        content: "";
        position: absolute;
        width: 4rem;
        height: 4rem;
        right: 80%;
        top: 30%;
        z-index: -1;
        background-image: 
        linear-gradient(to right top, transparent 50%, rgb(54, 88, 79) 50%),
        linear-gradient(to right bottom, transparent 50%, rgb(54, 88, 79) 50%);
    }

    body > header p::after{
        content: "";
        position: absolute;
        width: 4rem;
        height: 4rem;
        left: 80%;
        top: 30%;
        z-index: -1;
        background-image: 
        linear-gradient(to left top, transparent 50%, rgb(54, 88, 79) 50%),
        linear-gradient(to left bottom, transparent 50%, rgb(54, 88, 79) 50%);
    }

    /******************************************************/
    /* ---------- MAIN SECTIONS (the courses) -----------*/ 
    /****************************************************/

    /* -- BASICS -- */
    
    article{
        width: 12em;
    padding: 1em;
    }

    section{
    margin: 2em;
    padding: 1em;
    position: relative;
    border: 1px solid white;
    }

    blockquote {
    margin: 3em auto;
    }

    section header, section > h2{
    width: 10rem;
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    }

    /* -- de gerechten - article positions -- */

    section article {
    text-align: right;
    margin: 0em 0em 0em auto;
    }

    section article:nth-child(odd){
    text-align: left;
    margin: 1em;
    }

    section article div:last-of-type {
    width: 13px;
    height: 13px;
    background-color: lightgrey;
    }


    /*********************************/
    /* --------- de BLOBS --------- */

    /* -- BLOB - headers in section -- */

    section:nth-child(odd) header, section:nth-child(odd) > h2  {
        background-color: var( --prime-color-blue);
        color: white;
        border-radius: 45% 92% 40% 62% / 50% 75% 70% 90%;
        animation-name: blob-move-1;
        animation-duration: 13s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        position: relative;
    }

    section:nth-child(even) header, section:nth-child(even) > h2   {
        color: white;
        background-color: var(--prime-color-beige);
        border-radius: 50% 50% 80% 20% / 40% 60% 40% 60%;
        position: relative;
        animation-name: blob-move-2;
        animation-duration: 13s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }

    /* -- BLOB - border gold -- */

    section header::before, section > h2::before  {
        content: "";
        position: absolute;
        width: 11rem;
        height: 6rem;
        right: 0%;
        top: -5%;
        border: 1px solid var( --gold);
        border-radius: 69% 22% 51% 38% / 56% 46% 40% 29% ;
    }

    /* -- BLOB - gerechten -- */

    section article:nth-child(3n + 2){
        background-color:white;
        border-radius: 45% 92% 40% 62% / 50% 75% 70% 90%;
    }

    section article:nth-child(3n + 3){
        background-color:white;
        border-radius: 80% 60% 40% 90% / 50% 40% 70% 90%;
    }

    section article:nth-child(3n + 4){
        background-color:white;
        border-radius: 50% 50% 80% 20% / 40% 60% 40% 60%;
    }

    /* -- Blobs - moving -- */

    section:first-of-type:hover article:nth-child(3n + 2){
        animation-name: blob-transform;
        animation-timing-function: ease;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }

    /*********************************/
    /* --------- VORMPJES --------- */

    section:last-of-type svg {
        width: 5em;
        position: absolute;
        top: 0;
        left: 1em;
        transform: rotate(-20deg);
    }

    section:last-of-type svg:nth-child(2) {
        width: 2.5em;
        position: absolute;
        top: 0.2em;
        left: 0.5em;
        transform: rotate(45deg);
        z-index: 2;
        filter: drop-shadow(rgb(95, 95, 95) 6px 2px 10px);
    }

    /* 
    section:last-of-type blockquote::before {
        content: "";
        position: absolute;;
        width: 6em;
        height: 7em;
        top: 0;
        border-radius: 30% 30% 51% 50% / 37% 40% 60% 63%;
        background-image: /*radial-gradient(at top right, rgb(187, 70, 70) 50%, var(--prime-color-red) 50%),*/
        /* radial-gradient( rgb(187, 70, 70) 50%, var(--prime-color-red) 50%);  */
        /* opacity: 0.8; */
        /* z-index: -1; */
    /* } */
    /* 
    section:last-of-type blockquote::after {
        content: "";
        position: absolute;;
        width: 4em;
        height: 5em;
        left: 5em;
        border-radius: 30% 30% 51% 50% / 37% 40% 60% 63%;
        background-image: radial-gradient(var(--prime-color-red) 50%, rgb(187, 70, 70) 50%); 
        transform: rotate(60deg)
        opacity: 0.8; */
        /* z-index: -1;
    } */

    /*********************************/
    /* -------- ANIMATIONS -------- */
    /*******************************/

    /* -- RUSS title -- */


    @keyframes golden-glow {
        0% {
            background-position: left;
        } 
        100% {
            background-position: right top;
        }
    }


    /* -- blob header in sections -- */

    @keyframes blob-move-1 {
        0% {
        border-radius: 45% 92% 40% 62% / 50% 75% 70% 90%;
        }

        25% {
        border-radius: 48% 37% 48% 32% / 41% 32% 61% 45% ;
        }

        50% {
            background-color:  var(--dark-blue);
            border-radius: 80% 60% 40% 90% / 50% 40% 70% 90%;
        }

        75% {
            border-radius: 48% 37% 48% 32% / 41% 32% 61% 45% ;
        }

        100% {
            border-radius: 45% 92% 40% 62% / 50% 75% 70% 90%;
        }
    }

    @keyframes blob-move-2 {
        0% {
        border-radius: 50% 50% 80% 20% / 40% 60% 40% 60%;
        }

        25% {
        border-radius: 48% 37% 48% 32% / 41% 32% 61% 45% ;
        }

        50% {
            background-color:  var(--dark-beige);
            border-radius: 80% 60% 40% 90% / 50% 40% 70% 90%;
        }

        75% {
            border-radius: 48% 37% 48% 32% / 41% 32% 61% 45% ;
        }

        100% {
            border-radius: 50% 50% 80% 20% / 40% 60% 40% 60%;
        }
    }

    /* -- blob gerechten bewegen van plaats -- */

    @keyframes blob-transform {
        0% {
            transform: translateX(0rem);
        }

        25%{
            transform: translateX(2rem);
        }
    
        50% {
            transform: translateY(6rem);
        } 
        
        75% {
            transform: translateX(2rem);
        }

        100% {
            transform: translateX(0rem);
        }
    }

}


/****************************************/
/* -------- print-style sheet -------- */
/**************************************/

@media print {

    @page {
        margin: 0.5cm;
        size: landscape; /* standaard landscape printen */
    }

    /* elements not displayed in print */

    header ul {
        display: none;
    }

    svg{
        display: none;
    }

    /* - font - */

    h1{
        font-size: 32pt;

    }

    p {
        font-size: 12pt;
    }

    /* layout */

    body{
        font-family: 'Raleway', sans-serif;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0fr 1fr 1fr;
        line-height: 1.3;
        grid-row-gap: 0.5cm;
        grid-column-gap: 0.5cm;
    }

    body > header {
        grid-area: 1 / 1 / 1 / 4;
        text-align: center;
    }

    section {
        border: solid black 1px;
        padding: 0.2cm;
    }

    section:last-of-type{
        margin-top: 2cm;
    }
}
